.head-contents {
    background-image: url("../omlet1.webp");
    height: 700px;
    background-size: cover;
}

.head-contents-inside{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-left a {
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    color: #333;
    text-decoration: none;
    width: 100%;
}

header {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: #f7f6f5;
}

.head-title {
    background-color: #eedcb3;
}

.head-title a {
    letter-spacing: 5px;
}

.headline {
    display: flex;
    justify-content: center;
}

.headline a {
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.headline a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 0.3s;
}

.searchArea{
    width          : 100%;             
    height         : 50px;                                    
    font-weight    : bold;     
    letter-spacing : 0.1em;          
    padding-left: 50px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-top: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 200px;
  }

.searchArea p {
    font-size: 20px;
    font-weight: lighter;
    padding-right: 20px;
    line-height: 30px;
}
   
  .searchArea .searchText {
    display        : block;             
    float          : left;          
    box-sizing     : border-box;        
    height         : 60px;             
    width          : 200px;          
    margin         : 0;               
    padding        : 0 12px;            
    border         : 2px solid #008b8b;
    border-radius  : 15px 0 0 15px;     
    color          : #333;               
    font-size      : 12px;               
    outline        : 0;                
  }
   
  .searchArea .searchButton {
    float          : left;           
    box-sizing     : border-box;       
    height         : 60px;           
    margin         : 0;                
    padding        : 6px 10px;        
    border         : none;             
    border-radius  : 0 15px 15px 0;     
    background     : #008b8b;      
    color          : #fff;            
    cursor         : pointer;         
    line-height    : 12px;
    font-size      : 12px;
    display: flex;
    align-items: center;
  }


body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f7f6f5;
}

.list .bigimg {
    width: 450px;
    height: 350px;
}


.list {
    width: 450px;
    height: 350px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-right: 5px;
    margin-left: 5px;
}

.list .caption {
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
    color: #fff;
    font-weight: 400px;
}

.list .mask {
    position: absolute;
    width:			100%;
	height:			100%;
	top:			0;
	left:			0;
	opacity:		0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.3s ease;
	transition:		all 0.3s ease;
}

.list:hover .mask {
	opacity:		1;
    transition-duration: 0.3s;
}

.list-all {
    background-color: #dcd6d2;
    padding-top: 200px;
    padding-bottom: 350px;

}

.list-all h2 {
    padding-left: 50px;
    width: 750px;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: #333;
    border-bottom: 3px solid #ea553a;
}
.list-contents {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list a:hover {
    background-color:rgba(255, 255, 255, 0.7);
    transition-duration: 0.3s;
}

.more-buttons {
    display: flex;
    justify-content: center;
}

.more {
    width: 450px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.more a {
    text-decoration: none;
    color: #333;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    border-bottom: 2px solid #008b8b;
}


.more a span {
    font-size: 16px;
    font-weight: 100;
    color: #333;
}

.week a {
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    text-align: center;
    color: #333;
    padding-left: 20px;
  }



.week a:hover {
    background-color: rgba(255, 255, 255, 1);
    transition-duration: 0.3s;
}

.week {
    position: relative;
}


.week-menu-contents {
    width: 100%;
    height: 750px;
    background-image: url("../pasta2.jpg");
    background-size: cover;
}

.week-menu-contents-inside {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}
.new-head h1 {
    width: 750px;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: #333;
    border-bottom: 3px solid #ea553a;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.new-head {
    display: flex;
    justify-content: center;
}

.new-menu img {
    width: 400px;
    height: 300px;
    margin-right: 40px;
    border-radius: 20px;
}

.new-menu img:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

.new-menu {
    display: flex;
    align-items: center;
    margin: 30px auto 30px auto;
    width: 620px;
    padding: 30px;
    border: 1px solid black;

}

.new-contents {
    background-color: #dcd6d2;
    padding-bottom: 200px;
}

.new-menu-contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}


.new-contents .new-head {
    margin: auto;
}

.new-explanation a p{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: above;
}

.new-explanation a p:hover {
    color:#ea553a;
    transition-duration: 0.3s;
}

.new-explanation p {
    font-weight: lighter;
}

.explore-more a{
    text-decoration: none;
    font-size: 25px;
    padding: 15px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #333;
    background-color: #dcd6d2;
    width: 200px;
    border-radius: 33px;
    margin-left: 1100px;
    border: 2px solid #008b8b;
    text-align: center;
}

.explore-more {
    margin-bottom: 100px;
}

.explore-more a:hover {
    background-color: #008b8b;
    color: #fff;
    transition-duration: 0.3s;
}

.category-contents img {
    width: 356px;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.category-contents {
    margin-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #f6e5cc;
}

.category-contents p {
    padding-left: 50px;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    color: #333;
    border-bottom: 3px solid #ea553a;
    width: 600px;
    
}

.category-ingredients {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
}

.category {
    width: 300px;

}

.meat {
    border-right: 1px solid #008b8b;
    border-bottom: 1px solid #008b8b;
}

.fish {
    border-bottom: 1px solid #008b8b;
}

.veg {
    border-left: 1px solid #008b8b;
    border-bottom: 1px solid #008b8b;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h2 {
    text-align: center;
    font-weight: 700;
}

.title a {
    color: black;
    padding-left: 30px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 40px;

}


.title a:hover {
    color:#ea553a;
}

.social {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    
}

.social p {
    font-size: 45px;
}

.social-icons a {
    background-color: #008b8b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
}

.social-icons a:hover {
    opacity: 0.6;
}

.contact {
    background-color: #dcd6d2;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-contents {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-contents i {
    color: #ea553a;
}

.contact p {
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
}

footer p {
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    color: #333;
    padding-left: 50px;
}

footer a {
    text-decoration: none;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
  }
   
  .sa.show {
    opacity: 1;
    transform: none;
  }

  .sa--up {
    transform: translate(0, 100px);
  }